@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.App {
  font-family: 'Nunito', sans-serif;
  display: flex;
}

.place {
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: rgb(245, 245, 245);
  color:black;
  margin:2vh;
}

.placeTitle {
  font-size: 3vh;
  padding:1vh;
  font-weight: 600;
  display: flex;
}

.placeAddress, .placeContacts, .placeWebsite, .placeSchedule, .placeRatings {
  display: flex;
  flex-direction: row;
  padding:1vh;
}

.placeScheduleBody {
  padding-top: 0;
}

.pHeader {
  flex: 1 0 35%;
}

.pText {
  flex: 1 0 65%;
  font-weight: 600;
}

.pTitle {
  flex: 1 0 80%;
}

.pStar{
  flex: 1 0 20%;
  text-align: right;
  font-size: 2vh;
}

.weekDay{
  font-size: 1.5vh;
}

.holidays {
  padding: 1vh;
  font-weight: 600;
}

.schLine {
  display: block;
  padding: 1vh;
  flex: 1 0 65%;
}

.openStatus {
  padding: 1vh;
}

.opened {
  color: green
}

.closed {
  color: red
}